<div
  class="relative z-10"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  x-data="{ cartDrawer: false }"
  x-show="cartDrawer"
  @cart-drawer.window="cartDrawer=!cartDrawer"
>
  <div
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity border-2"
    @click="cartDrawer = false"
    aria-hidden="true"
  ></div>

  <div class="fixed inset-0 overflow-hidden ">
    <div
      class="absolute inset-0 overflow-hidden"
      x-show="cartDrawer"
      x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
      x-transition:enter-start="translate-x-full opacity-0"
      x-transition:enter-end="translate-x-0 opacity-100"
      x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-full opacity-0"
    >
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <div class="pointer-events-auto relative w-screen max-w-2xl">
          <form action="{{ routes.cart_url }}" method="post" id="cart" class="h-full relative">
            <div class="flex h-full flex-col overflow-y-auto bg-white shadow-xl">
              <div class="px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-4xl font-medium text-gray-900" id="slide-over-title">{{ shop.name }} cart</h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button
                      @click="cartDrawer = false"
                      type="button"
                      class="relative -m-2 p-2 text-gray-400 hover:text-gray-500"
                    >
                      <span class="absolute -inset-0.5"></span>
                      <span class="sr-only">Close panel</span>
                      <svg
                        class="size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        data-slot="icon"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              {% render 'cart-from', drawer: true %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
