@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes motion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes roadAnimation {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-350px);
    }
  }

  .truck-motion {
    animation: motion 1s linear infinite;
  }

  .road-motion {
    animation: roadAnimation 1.4s linear infinite;
  }



.header{
    display: grid;
    grid-template-areas: "header-logo header-menu header-icons";
    grid-template-columns: 1fr 2fr 1fr;
    .header__logo{
        grid-area: header-logo;
    }
    .header__menu{
        grid-area: header-menu;
    }
    .header__icons{
        grid-area: header-icons;
    }

    @media (max-width: 768px) {
        grid-template-areas: "header-menu header-logo header-icons";
    }
    
    .nav__item{
        &:hover{
            .nav__item-submenu{
                display: block;
            }
        }

        .nav__item-submenu{
            display: none;
        }
    }
}